
@{
    ViewData["Title"] = "Bootcamp - .NET Exercises";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Styles {
    <link href="@Url.Content("~/css/home.css")" rel="stylesheet" type="text/css" />
}

<h2>Excercises</h2>

<a href="FizzBuzz">
    <div class="clickBlock orchid">
        <h3>Fizz Buzz</h3>
    </div>
</a>


<a href="Palindrome">
    <div class="clickBlock green">
        <h3>Palindrome</h3>
    </div>
</a>


<a href="RomanNumerals">
    <div class="clickBlock peru">
        <h3>Roman Numerals</h3>
    </div>
</a>

<a href="StringCalculator">
    <div class="clickBlock pink">
        <h3>String Calculator</h3>
    </div>
</a>



